:root {
	--margin-top: 10px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
body {
	font-family: 'Open Sans', sans-serif;
}

/* ----------------------------Details page --------------------- */
.details {
	margin: 30px 10%;
	display: flex;
	flex-direction: column;
}

.details-img {
	width: 100%;
	/* background: red; */
}
.details-img img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.movie-description {
	padding: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.genres-container {
	margin-top: 1rem;
}
.genres {
	display: flex;
	flex-wrap: wrap;
}
.genres-name {
	margin-right: 1rem;
}

.movie-description h3 {
	/* margin-bottom: 5px; */
	font-size: 25px;
}
.movie-description p {
	all: initial;
	color: white;
	margin: 10px 0;
	padding: 0;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.rating-year {
	margin-top: 10px;
}

/* ----------------------------Search page --------------------- */
.search {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	flex-direction: row;
	justify-items: center;
	overflow-x: hidden;
	margin: 0 10%;

	gap: 20px;
}
.search-info {
	max-width: 250px;
}
.search-info a {
	text-decoration: none;
}
.search-info img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-top: 30px;

	object-fit: cover;
	object-position: center;
	transition: all 0.35s ease-in-out;
}
.search-info h3 {
	max-width: auto;
}

.search-info img:hover {
	transform: scale(1.01);
}

/*--------------------- ipad view----------------- */
@media screen and (min-width: 768px) {
	.details-img {
		width: 40%;
	}

	.search {
		grid-template-columns: repeat(3, 1fr);
	}
	.player-wrapper {
		height: 360px;
	}
}

/*--------------------- laptop/desktop view----------------- */
@media screen and (min-width: 1140px) {
	.details {
		flex-direction: row;
	}
	.details-img {
		width: 35%;
	}
	.movie-description {
		margin-top: 30px;
		justify-content: flex-start;
		margin-left: 20px;

		width: 65%;

		max-width: 500pxs;
	}
	.movie-description h3 {
		font-size: 40px;
	}
	.movie-description p {
		font-size: 16px;
	}
	.player-wrapper {
		max-width: 910px;
	}
	/* search page---------------------------- */
	.search {
		grid-template-columns: repeat(4, 1fr);
	}
}
